{% extends '@EndroidAdventure/layout.html.twig' %}

{% block content %}

    <h1>Adventure - {{ adventure.name }}</h1>

    <a class="btn btn-primary" href="{{ path('adventure_create_random') }}" role="button">Start new adventure</a>

    <div class="btn-group">
        {% for mainCharacter in adventure.mainCharacters %}
            <a class="btn btn-{% if mainCharacter == adventure.currentCharacter %}dark{% else %}secondary{% endif %}" href="{{ path('adventure_switch_character', { adventureId: adventure.id, characterId: mainCharacter.id }) }}" role="button">{{ mainCharacter.name }}</a>
        {% endfor %}
    </div>

{% endblock %}
